/* styles.css */

body
{
    margin: 0;
    padding: 0;
    background-size: 100%;
    font-family: Sans-Serif;
}

#temp
{
    font-size: 26px;
}

#humidity
{
    font-size: 26px;
}

#weather
{
    clear: both;
    background-color: rgba(120, 120, 120, 0.5);
}
